---
import { getCollection, render } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";
import { toCategorySlug } from "../../lib/categories";

export async function getStaticPaths() {
  const welcomePosts = await getCollection(
    "welcome",
    ({ slug }) => slug !== "index"
  );

  return welcomePosts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const formattedDate = new Intl.DateTimeFormat("en-CA", {
  year: "numeric",
  month: "short",
  day: "2-digit"
}).format(post.data.date);
---

<PostLayout title={post.data.title} description={post.data.description}>
  <header class="article-header">
    <p class="meta-row">
      <span class="meta-type">Welcome</span>
      <span class="meta">{formattedDate}</span>
    </p>
    <h1>{post.data.title}</h1>
    {post.data.categories.length > 0 && (
      <p class="badges">
        {post.data.categories.map((category) => (
          <a class="badge badge-link" href={`/categories/${toCategorySlug(category)}/`}>
            {category}
          </a>
        ))}
      </p>
    )}
  </header>
  <Content />
</PostLayout>
